/* button {
    width: 100px;
    height: 50px;
    border: 2px solid sandybrown;
    color: sandybrown;
    background-color: black;
    font-family: sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    font-size: 24px;
    border: 2px solid green;
    color: green;
} */