/* .comment {
    width: 400px;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 10px;
}

.comment1 {
    background-color: green;
}

.comment2 {
    background-color: blue;
}

.comment3 {
    background-color: red;
} */